EXPO_ROUTER_APP_ROOT=./app
EXPO_PUBLIC_SUPABASE_URL=https://fjlkooxjpqgeixsrufpb.supabase.co/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqbGtvb3JqcHFnZWl4c3J1ZnBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjkxODgsImV4cCI6MjA4OTg0NTE4OH0.Fdi1WwbYNfAF-Vnob0M6ryt7xaxMuJ8L30JhUC_DXiw
